*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 100px 0;
}

.section--blue {
  background-color: #f5fdff;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #05a893;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
}

header ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Prata", serif;
  font-size: 20px;
}

header ul li {
  padding: 26px 0;
}

header ul li a {
  color: #000;
  word-spacing: 0;
  padding: 26px 24px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

header ul li a:hover {
  color: #fff;
  background-color: #05a893;
}

header ul li:not(:last-child) {
  text-transform: capitalize;
}

header ul li:last-child {
  text-transform: uppercase;
}

.section__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.section__header .title {
  font-family: "Sail", cursive;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section__header .subtitle {
  font-family: "Prata", serif;
  font-size: 18px;
  font-weight: 400;
  color: #7a7a7a;
  text-align: center;
}

.image {
  width: 270px;
  height: 270px;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.image .image__overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(15, 162, 143, 0);
  padding-bottom: 25px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.image .image__overlay:hover {
  background-color: rgba(15, 162, 143, 0.8);
}

.image .image__overlay:hover .image__content {
  opacity: 1;
}

.image .image__overlay .image__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.image .image__overlay .image__content h2 {
  font-family: "Prata", serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 6px;
  text-transform: capitalize;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.image .image__overlay .image__content span {
  font-family: "Prata", serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.image .image__overlay .image__content span::before, .image .image__overlay .image__content span::after {
  content: '';
  display: block;
  width: 26px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.image .image__overlay .image__content span::after {
  right: -35px;
}

.image .image__overlay .image__content span::before {
  left: -35px;
}

.section--intro {
  background-image: url("../img/intro/intro.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
}

.section--intro .intro__info {
  width: 670px;
  position: absolute;
  bottom: 0;
  right: 136px;
}

.section--intro .intro__info .info__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 75px 0;
}

.section--intro .intro__info .info__top .info__logo {
  margin-bottom: 25px;
}

.section--intro .intro__info .info__top .info__title {
  color: #403f3f;
  font-family: "Prata", serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section--intro .intro__info .info__top .info__address {
  margin-top: 30px;
  font-family: "Prata", serif;
  font-weight: 400;
}

.section--intro .intro__info .info__top .info__address .address__name {
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  color: #1d1d1d;
  margin-bottom: 20px;
}

.section--intro .intro__info .info__top .info__address .address__position {
  font-size: 18px;
  color: #403f3f;
  text-align: center;
  width: 275px;
}

.section--intro .intro__info .info__bottom {
  padding: 45px 0;
  background-color: #05a893;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--intro .intro__info .info__bottom::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #049885;
  position: absolute;
  top: 0;
  left: 0;
}

.section--intro .intro__info .info__bottom .info__title--bottom {
  color: #fff;
  font-family: "Prata", serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.section--intro .intro__info .info__bottom .info__time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section--intro .intro__info .info__bottom .info__time li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--intro .intro__info .info__bottom .info__time li:not(:last-child) {
  margin-right: 60px;
}

.section--intro .intro__info .info__bottom .info__time li .number {
  font-family: "Prata", serif;
  font-size: 40px;
  font-weight: 400;
}

.section--intro .intro__info .info__bottom .info__time li .string {
  text-transform: capitalize;
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 18px;
}

.section--intro .intro__arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 138px;
}

.section--intro .intro__arrows .arrow__up {
  padding: 30px 36px;
  background-color: #05a893;
  -webkit-border-top-left-radius: 30px;
          border-top-left-radius: 30px;
  margin-right: 6px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.section--intro .intro__arrows .arrow__up:hover {
  background-color: #047668;
}

.section--intro .intro__arrows .arrow__up:active {
  background-color: #035e52;
}

.section--intro .intro__arrows .arrow__down {
  padding: 30px 36px;
  background-color: #09e2a7;
  -webkit-border-top-right-radius: 30px;
          border-top-right-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.section--intro .intro__arrows .arrow__down:hover {
  background-color: #07b183;
}

.section--intro .intro__arrows .arrow__down:active {
  background-color: #069871;
}

.section--intro .intro__arrows .arrow__down img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section--intro .intro__side-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #05a893;
  width: 80px;
  -webkit-border-radius: 0 50px 50px 0;
          border-radius: 0 50px 50px 0;
  padding: 40px 0;
}

.section--intro .intro__side-panel li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 58px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.section--intro .intro__side-panel li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
}

.section--intro .intro__side-panel li:hover {
  color: #05a893;
  background-color: #fff;
}

.section--intro .intro__side-panel li:not(:last-child) {
  margin-bottom: 25px;
}

.section--about {
  position: relative;
}

.section--about .about__bg {
  position: absolute;
  top: 35%;
  right: 0;
  z-index: -1;
}

.section--about .description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section--about .description .about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 305px;
  background-color: #f5fdff;
}

.section--about .description .about--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section--about .description .about__content {
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 0 40px 0 45px;
}

.section--about .description .about__content .about__name {
  font-family: "Sail", cursive;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section--about .description .about__content .about__name::after {
  content: '';
  display: block;
  width: 48px;
  height: 2px;
  background-color: #05a893;
  position: absolute;
  top: 50%;
  right: -80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section--about .description .about__content p {
  font-family: "Prata", serif;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  margin-bottom: 25px;
}

.section--about .description .about__content .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section--about .description .about__content .social li {
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.section--about .description .about__content .social li:hover {
  color: #05a893;
}

.section--about .description .about__content .social li:not(:last-child) {
  margin-right: 20px;
}

.section--about .description .about__img {
  height: 100%;
  overflow: hidden;
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.section--about .description .about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section--gallery .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 870px;
}

.section--gallery .photos .photo {
  width: 370px;
  height: 270px;
}

.section--gallery .photos .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section--gallery .photos .photo--large {
  width: 770px;
  height: 270px;
  grid-column: auto / span 2;
}

.section--gallery .photos .photo--large-vertical {
  width: 370px;
  height: 570px;
  grid-row: auto / span 2;
}

.section--story {
  position: relative;
  padding-bottom: 150px;
}

.section--story .section__header .subtitle {
  margin-bottom: 80px;
}

.section--story .story__bg1, .section--story .story__bg2 {
  position: absolute;
}

.section--story .story__bg1 {
  top: 330px;
  right: 0;
}

.section--story .story__bg2 {
  bottom: 220px;
  left: 0;
}

.section--story .histories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section--story .histories .history {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--story .histories .history:not(:first-child) {
  margin-top: 180px;
}

.section--story .histories .history--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section--story .histories .history--reverse .history__img {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section--story .histories .history__img {
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section--story .histories .history__img .wrapper {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section--story .histories .history__img .wrapper__img {
  width: 470px;
  height: 470px;
}

.section--story .histories .history__img .wrapper__img img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.section--story .histories .history__img .decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section--story .histories .history__content {
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.section--story .histories .history__content .history__date {
  display: block;
  font-family: "Prata", serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #5f5f5f;
}

.section--story .histories .history__content .history__date::after {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: 2px;
  position: absolute;
  background-color: #1d1d1d;
  top: 50%;
  right: -38px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section--story .histories .history__content .history__title {
  font-family: "Sail", cursive;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section--story .histories .history__content p {
  font-family: "Prata", serif;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
  margin-bottom: 25px;
}

.section--story .histories .history__content .history__link {
  color: #05a893;
  font-family: "Prata", serif;
  font-size: 20px;
  font-weight: 400;
}

.people__inner .inner__gender {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.people__inner .inner__gender span {
  font-family: "Sail", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #5d5d5d;
  text-transform: capitalize;
}

.people__inner .inner__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people__inner .inner__images .images__gender {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.items .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 25px 40px 40px;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(134, 134, 134, 0.23);
          box-shadow: 0px 1px 6px 0px rgba(134, 134, 134, 0.23);
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.items .item:hover {
  background-color: #05a893;
}

.items .item:hover h1, .items .item:hover span {
  color: #fff;
}

.items .item h1 {
  font-family: "Prata", serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.items .item span {
  font-family: "Prata", serif;
  font-size: 18px;
  font-weight: 400;
  color: #636363;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.items .item span:not(:last-child) {
  margin-bottom: 5px;
}

.section--blank {
  background-color: #a3a3a3;
  padding: 0;
}

.section--blank .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 770px;
  max-width: 940px;
  width: 100%;
  margin-left: auto;
  background-color: #fff;
  padding: 0 70px;
  position: relative;
}

.section--blank .contact::after, .section--blank .contact::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 235px;
  height: -webkit-calc(100% - (12px * 2));
  height: calc(100% - (12px * 2));
  background-repeat: no-repeat;
}

.section--blank .contact::after {
  background-image: url("../img/flower_right.png");
  right: -235px;
}

.section--blank .contact::before {
  background-image: url("../img/flower_left.png");
  left: -235px;
}

.section--blank .contact .section__header {
  max-width: 510px;
}

.section--blank .contact .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}

.section--blank .contact .form .ledger {
  grid-column: auto / span 2;
  resize: none;
  margin-bottom: 0;
}

.section--blank .contact .form input {
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 2px solid #959595;
  font-family: "Prata", serif;
  font-size: 20px;
  font-weight: 400;
  color: #878686;
  padding-right: 20px;
  margin-bottom: 30px;
}

.section--blank .contact .button {
  display: block;
  margin-left: auto;
  width: 248px;
  height: 64px;
  background-color: #05a893;
  color: #fff;
  font-family: "Prata", serif;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.section--blank .contact .button:hover {
  background-color: #047668;
}

.section--blank .contact .button:active {
  background-color: #035e52;
}

.copyright {
  padding: 35px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright img {
  margin-bottom: 15px;
}

.copyright p {
  font-family: "Prata", serif;
  font-size: 16px;
  font-weight: 400;
  color: #888;
}
